# this is wsk api written by swagger 
swagger: '2.0'
info:
  title: WebShKiller API
  description: Connect WebShKiller client, control and jail
  version: "1.0.0"
# the domain of the service
host: wsk-control.openstack
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /users:
    get:
      summary: get user list
      description: |
        The users endpoint returns user_id, user_name
      tags:
        - User
      responses:
        200:
          description: An array of users
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: create new user 
      description: |
          create new user
      parameters:
        - name: username
          in: query
          description: username(string)
          required: true
          type: string
        - name: email
          in: query
          description: email(string)
          required: true
          type: string
      tags:
        - User
      responses:
        200:
          description: An array of users
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{user_id}:                 
    patch:
      summary: modify user information
      description: |
          modify user infomation
      parameters:
        - name: user_id
          in: query
          description: user_id(number)
          required: true
          type: number
        - name: username
          in: query
          description: username(string)
          required: true
          type: string
        - name: email
          in: query
          description: email(string)
          required: true
          type: string
      tags:
        - User
      responses:
        200:
          description: An array of users
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: delete user 
      description: |
          delete user
      parameters:
        - name: user_id
          in: query
          description: user_id(number)
          required: true
          type: number
      tags:
        - User
      responses:
        200:
          description: An array of users
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  User:
    type: object
    properties:
      user_id:
        type: string
        description: Unique identifier representing a specific user.
      username:
        type: string
        description: Username
      email:
        type: string
        description: Username
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
